In [1]:
# import libraries
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import time
import pandas as pd
import numpy as np
from  datetime import time
import re

In [2]:
data=pd.read_csv(r"C:\Users\devap\OneDrive\Desktop\Scraping file\red bus project\red_bus_1.csv")
data

,Busname,Bustype,Starttime,Endtime,Seatavailable,Duration,Price,Rating,Route_name,Route_link
0,FRESHBUS,Electric A/C Seater (2+2),16:00,23:30,31 Seats available,07h 30m,INR 580,4.7\n420,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
1,FRESHBUS,Electric A/C Seater (2+2),11:45,17:55,15 Seats available,06h 10m,449,4.7\n370,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
2,FRESHBUS,Electric A/C Seater (2+2),11:45,18:50,15 Seats available,07h 05m,399,4.7\n326,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
3,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),22:55,04:10,25 Seats available,05h 15m,INR 780,4.1\n28,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
4,FRESHBUS,Electric A/C Seater (2+2),23:05,06:15,18 Seats available,07h 10m,899,4.6\n513,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
...,...,...,...,...,...,...,...,...,...,...
10897,Suman sabir,Non AC Seater (2+3),21:00,23:59,54 Seats available,02h 59m,INR 111,1.7,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10898,Pammi Travels,A/C Sleeper (2+1),21:00,23:59,18 Seats available,02h 59m,924,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10899,Pammi Travels,Non A/C Seater / Sleeper (2+1),21:00,23:59,33 Seats available,02h 59m,601,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10900,Pammi Travels,NON A/C Sleeper (2+1),21:15,23:59,23 Seats available,02h 44m,645,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10901,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),18:30,21:30,54 Seats available,03h 00m,INR 500,NaN,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10902 entries, 0 to 10901
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busname        10874 non-null  object
 1   Bustype        10870 non-null  object
 2   Starttime      10874 non-null  object
 3   Endtime        10874 non-null  object
 4   Seatavailable  10871 non-null  object
 5   Duration       10874 non-null  object
 6   Price          10874 non-null  object
 7   Rating         10813 non-null  object
 8   Route_name     10902 non-null  object
 9   Route_link     10902 non-null  object
dtypes: object(10)
memory usage: 851.8+ KB

In [4]:
data['Rating'] = data['Rating'].astype(str)
data['Rating'] = data['Rating'].str.extract(r'(\d+\.\d+)').astype("float64")
data['Rating'] = data['Rating'].fillna(0.0)
data["Rating"] = pd.to_numeric(data["Rating"], errors="coerce")

In [5]:
data['Seatavailable'] = data['Seatavailable'].astype(str)
data['Seatavailable'] = data['Seatavailable'].str.extract(r'(\d+)').astype(float).astype('Int64')

data["Seatavailable"]=pd.to_numeric(data["Seatavailable"],errors="coerce")

In [6]:
data['Price'] = data['Price'].astype(str)
data['Price'] = data['Price'].str.replace('INR ', '')
data['Price'] = data['Price'].astype("float64")

In [7]:
data['Duration'] = data['Duration'].astype(str)

# Apply a lambda function directly
data['Duration'] = data['Duration'].apply(
    lambda x: " ".join(re.search(r"(\d+)[hH]\s?(\d+)[mM]", x).groups()) if re.search(r"(\d+)[hH]\s?(\d+)[mM]", x) else None
)

In [8]:
data.dropna(subset=["Rating"], inplace=True)
data.dropna(subset=["Bustype"], inplace=True)
data.dropna(subset=["Seatavailable"], inplace=True)
data.dropna(subset=["Price"], inplace=True)
data.dropna(subset=["Duration"], inplace=True)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10863 entries, 0 to 10901
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busname        10863 non-null  object
 1   Bustype        10863 non-null  object
 2   Starttime      10863 non-null  object
 3   Endtime        10863 non-null  object
 4   Seatavailable  10863 non-null  Int64
 5   Duration       10863 non-null  object
 6   Price          10863 non-null  float64
 7   Rating         10863 non-null  float64
 8   Route_name     10863 non-null  object
 9   Route_link     10863 non-null  object
dtypes: Int64(1), float64(2), object(7)
memory usage: 944.1+ KB

In [10]:
data

,Busname,Bustype,Starttime,Endtime,Seatavailable,Duration,Price,Rating,Route_name,Route_link
0,FRESHBUS,Electric A/C Seater (2+2),16:00,23:30,31,07 30,580.0,4.7,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
1,FRESHBUS,Electric A/C Seater (2+2),11:45,17:55,15,06 10,449.0,4.7,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
2,FRESHBUS,Electric A/C Seater (2+2),11:45,18:50,15,07 05,399.0,4.7,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
3,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),22:55,04:10,25,05 15,780.0,4.1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
4,FRESHBUS,Electric A/C Seater (2+2),23:05,06:15,18,07 10,899.0,4.6,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
...,...,...,...,...,...,...,...,...,...,...
10897,Suman sabir,Non AC Seater (2+3),21:00,23:59,54,02 59,111.0,1.7,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10898,Pammi Travels,A/C Sleeper (2+1),21:00,23:59,18,02 59,924.0,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10899,Pammi Travels,Non A/C Seater / Sleeper (2+1),21:00,23:59,33,02 59,601.0,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10900,Pammi Travels,NON A/C Sleeper (2+1),21:15,23:59,23,02 44,645.0,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10901,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),18:30,21:30,54,03 00,500.0,0.0,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10863 entries, 0 to 10901
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busname        10863 non-null  object
 1   Bustype        10863 non-null  object
 2   Starttime      10863 non-null  object
 3   Endtime        10863 non-null  object
 4   Seatavailable  10863 non-null  Int64
 5   Duration       10863 non-null  object
 6   Price          10863 non-null  float64
 7   Rating         10863 non-null  float64
 8   Route_name     10863 non-null  object
 9   Route_link     10863 non-null  object
dtypes: Int64(1), float64(2), object(7)
memory usage: 944.1+ KB

In [12]:
data['Busname'] = data['Busname'].astype(str)
data['Bustype'] = data['Bustype'].astype(str)
data['Duration'] = data['Duration'].astype(str)
data['Route_name'] = data['Route_name'].astype(str)
data['Route_link'] = data['Route_link'].astype(str)

In [13]:
data.rename(columns={'Busname': 'Busname', 'Bustype': 'Bustype','Starttime':'Starttime',
                     'Endtime':'Endtime','Seatavailable':'Seatavailable','Duration':'Duration',
                     'Price':'Price','Rating':'Rating','Route_name':'Route_name','Route_link':'Route_link'}, inplace=True)

In [16]:
data

,Busname,Bustype,Starttime,Endtime,Seatavailable,Duration,Price,Rating,Route_name,Route_link
0,FRESHBUS,Electric A/C Seater (2+2),16:00,23:30,31,07 30,580.0,4.7,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
1,FRESHBUS,Electric A/C Seater (2+2),11:45,17:55,15,06 10,449.0,4.7,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
2,FRESHBUS,Electric A/C Seater (2+2),11:45,18:50,15,07 05,399.0,4.7,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
3,AdSai RK Travels,Non A/C Seater / Sleeper (2+1),22:55,04:10,25,05 15,780.0,4.1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
4,FRESHBUS,Electric A/C Seater (2+2),23:05,06:15,18,07 10,899.0,4.6,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...
...,...,...,...,...,...,...,...,...,...,...
10897,Suman sabir,Non AC Seater (2+3),21:00,23:59,54,02 59,111.0,1.7,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10898,Pammi Travels,A/C Sleeper (2+1),21:00,23:59,18,02 59,924.0,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10899,Pammi Travels,Non A/C Seater / Sleeper (2+1),21:00,23:59,33,02 59,601.0,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10900,Pammi Travels,NON A/C Sleeper (2+1),21:15,23:59,23,02 44,645.0,3.6,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...
10901,Pariwartan Bus Service,NON A/C Seater / Sleeper (2+2),18:30,21:30,54,03 00,500.0,0.0,Kolkata to Burdwan,https://www.redbus.in/bus-tickets/kolkata-to-b...

In [14]:
desired_order = [
    'Busname', 'Bustype', 'Starttime', 'Endtime', 
    'Duration', 'Price', 'Rating', 
    'Seatavailable', 'Route_name', 'Route_link'
]

In [15]:
desired_order

['Busname',
 'Bustype',
 'Starttime',
 'Endtime',
 'Duration',
 'Price',
 'Rating',
 'Seatavailable',
 'Route_name',
 'Route_link']

In [17]:
data.columns

Index(['Busname', 'Bustype', 'Starttime', 'Endtime', 'Seatavailable',
       'Duration', 'Price', 'Rating', 'Route_name', 'Route_link'],
      dtype='object')

Connect DataBase

In [18]:
import mysql.connector

In [19]:


# Establish a connection to the MySQL database
conn = mysql.connector.connect(
    host="localhost",      
    user="root",  
    password="1234",    
    database="red_bus_details" 
)

# Create a cursor to execute SQL queries
cursor = conn.cursor(buffered=True)

In [20]:

create_table_query = """
CREATE TABLE IF NOT EXISTS RED_BUS_DETAILS2 (
    id INT AUTO_INCREMENT PRIMARY KEY,
    Busname VARCHAR(255),
    Bustype VARCHAR(255),
    Starttime TIME,
    Endtime TIME,
    Duration VARCHAR(255),
    Price DECIMAL(10,2),
    Rating FLOAT(3,1),
    Seatavailable BIGINT,
    Route_name VARCHAR(255),
    Route_link VARCHAR(255)
);
"""
try:
    cursor.execute(create_table_query)
    print("Table 'RED_BUS1' created successfully!")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Table 'RED_BUS1' created successfully!

In [21]:


cursor = conn.cursor()

# Define the SQL query for inserting data
sql = """
INSERT INTO RED_BUS_DETAILS2 (
    Busname, Bustype, Starttime, Endtime, Duration, 
    Price, Rating, Seatavailable, Route_name, Route_link
) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Insert data row by row
for _, row in data.iterrows():
    values = (
        row['Busname'], row['Bustype'], row['Starttime'], row['Endtime'], 
        row['Duration'], row['Price'], row['Rating'], 
        row['Seatavailable'], row['Route_name'], row['Route_link']
    )
    cursor.execute(sql, values)

# Commit changes and close the connection
conn.commit()


print("Data inserted into the `RED_BUS_DETAILS2` table successfully!")

Data inserted into the `RED_BUS_DETAILS2` table successfully!